:root{  
    --colore_primario: #1d1d1b ;
    --colore_secondario: #F1E210 ;  
    --colore_terziario: #ffffff; 
    --colore-mio: #F78C5B;
}

/* #ffed00 */

*{
    font-family: "Habibi", serif;
    font-weight: 400;
    font-style: normal;
}

.font-title {
    font-family: "Capriola", sans-serif;
    font-weight: 400;
    font-style: normal;
}

footer{
    background-color: var(--colore_secondario);
    height: 40vh;   
}
.link{
    display: flex;
    justify-content: end;
    list-style-type:none;
    
}
.pay{
    display:flex ;
}
.imgpay{
    height: 30px;
    width: 60px;
}

.google-maps {
    display: flex;
    justify-content: end;
}
.testo-sottolineato:hover {
    text-decoration: underline;
}

body{
    background-color: #f7b95bc0;
}
.nav-custom{
    background-color: var(--colore_secondario) !important;
}

.navbar-nav .nav-link:hover {
    background-color: var(--colore_primario) !important;
    color: var(--colore_secondario) !important;
    border-radius: 5px;
}

.bottone:hover {
    background-color: var(--colore_primario) !important;
    color: var(--colore_secondario) !important;
    transition: background-color 0.3s ease;
}

img{
    border-radius: 2%;
}
.img-titolo{
    height: 250px;
    width: 600px;
}

.imgcard{
    height: 200px;
}

/* modificate card con un pò di animazione, bordo nero e sfondo nero */
.card {
    background-color: #f5f5f5; 
    border: 1px solid rgba(0, 0, 0, 0.2); 
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    transition: transform 0.3s; 
}

.card:hover {
    transform: translateY(-5px); 
}

.dropdown-menu
{
    background-color: var(--colore_secondario) !important;
    opacity: 0.9;
}

.dropdown-menu .dropdown-item:hover {
    background-color: var(--colore_primario) !important;
    color: var(--colore_secondario) !important; 
    border-radius: 5px;
}

.logo{
    height: 40px;
}

.nav-top{
    margin-top: 100px;
}

/* bordo sezione accedi,registrati,inserisci il tuo annuncio */
.registlogin, .registlogin2, .registlogin3 {
    background-color: var(--colore_terziario);
    margin-top: 90px;
    padding: 20px;
    border: 2px solid var(--colore_secondario);
    border-radius: 10px;
    width: 100%; 
    max-width: 900px; 
    height: auto;
}

.categori{
    margin-top: 70px;
    width: 700px;
}

.border {
        border: 2px solid var(--colore_secondario);
        border-radius: 20px;
        padding: 10px
}

.btn{
    background-color: var(--colore_secondario) !important;
    color: var(--colore_primario) !important;
    border: #1d1d1b;
}

.btn2{
    background-color: var(--colore_primario) !important;
    color: var(--colore_secondario) !important;
}

.btn-dimension{
    background-color: var(--colore_secondario) !important;
    color: var(--colore_primario) !important;
    height: 70px;
    width: 75%;
}

.btn-revisor{
    border: 1px solid var(--colore_primario);
    border-radius: 5px;
}

.bottone:hover {
    background-color: var(--colore_primario) !important;
    color: var(--colore_secondario) !important;
    transition: background-color 0.3s ease;
}

/* counter per revisore  */
.counter{
    height: 30px;
    width: 30px;
    margin-right: -5%;
    margin-top: -8%;
    border-radius: 50%;
    color: var(--colore_secondario);
    background-color: var(--colore_primario);
}

/* pagina annunci per categoria */
.margin-header{
    margin-top: 80px;
    background-color: var(--colore_secondario) !important;
}

/* Caroselloswiper  */

.swiper {
    width: 100%;
    height: 100%;
    /* background: #000; */
  }

  .swiper-slide {
    font-size: 18px;
    color: #fff;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 40px 60px;
  }

  .parallax-bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 130%;
    height: 100%;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
  }

  .swiper-slide .title {
    font-size: 41px;
    font-weight: 300;
  }

  .swiper-slide .subtitle {
    font-size: 21px;
  }

  .swiper-slide .text {
    font-size: 14px;
    max-width: 400px;
    line-height: 1.3;
  }

/* mediaquery tablet */
@media only screen and (max-width: 768px) {
    .navbar-nav {
        display: flex;
        align-items: center;
        width: auto;
        margin-top: 10px;
    }

    .navbar-nav .nav-link {
        text-align: center;
    }

    .nav {
        margin-top: 10px; 
    }

    .dropdown-menu {
        text-align: center;
    }
}

.img-preview{
    height: 200px;
    width: 200px;
}

/* mediaquery smartphone */
@media only screen and (max-width: 480px) {
    .link{
        display: flex;
        justify-content: center;
        list-style-type:none;
        font-size: small;
        
    }
    .registlogin, .registlogin2, .registlogin3 {
        width: 80%; 
        margin-left: auto;
        margin-right: auto;
    }

    .img-titolo{
        height: 160px;
        width: 100%;
    }

    .border {
        width: 100%;
        border: 2px solid var(--colore_secondario);
        border-radius: 20px;
        padding: 10px
    }
    .categori{
        margin-top: 70px;
        width: 100%;
    }
    footer {
        height: auto;
        padding: 20px;
    }
    .social{
        display: flex;
        justify-content: center;
        margin: 12px 0px;

    }

    .google-maps {
        display: flex;
        justify-content: center;
        height: 100px;
        width: 200px;
        margin-left: 40px;
    }

    iframe {
        width: 100%;
        height: auto;
    }

    .pay {
        display: flex;
        justify-content: center;
    }

    .pay img {
        height: 20px !important;
        width: auto !important;
    }
}

@media screen and (max-width: 992px) and (min-width: 769px){

    .img-titolo{
        height: 130px;
        width: 100%;
    }

    .link{
        display: flex;
        justify-content: center;
        list-style-type:none;
        font-size: small;
        
    }

}   

 
