:root{  
    --colore_primario: #1d1d1b ;
    --colore_secondario: #ffed00 ;  
    --colore_terziario: #ffffff; 
}

*{
    font-family: "Habibi", serif;
    font-weight: 400;
    font-style: normal;
}

.font-title {
    font-family: "Capriola", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.nav-custom{
    background-color: var(--colore_secondario) !important;
}

.navbar-nav .nav-link:hover {
    background-color: var(--colore_primario) !important;
    color: var(--colore_secondario) !important;
    border-radius: 5px;
}

.bottone:hover {
    background-color: var(--colore_primario) !important;
    color: var(--colore_secondario) !important;
    transition: background-color 0.3s ease;
}


img{
    border-radius: 2%;
}

.imgcard{
    height: 200px;
}

/* modificate card con un pò di animazione, bordo nero e sfondo nero */
.card {
    background-color: #f5f5f5; 
    border: 1px solid rgba(0, 0, 0, 0.2); 
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    transition: transform 0.3s; 
}

.card:hover {
    transform: translateY(-5px); 
}

.dropdown-menu
{
    background-color: var(--colore_secondario) !important;
    opacity: 0.9;
}

.dropdown-menu .dropdown-item:hover {
    background-color: var(--colore_primario) !important;
    color: var(--colore_secondario) !important; 
    border-radius: 5px;
}

.logo{
    height: 40px;
}

.nav-top{
    margin-top: 100px;
}

/* bordo sezione accedi,registrati,inserisci il tuo annuncio */
.registlogin, .registlogin2, .registlogin3 {
    margin-top: 90px;
    padding: 20px;
    border: 2px solid var(--colore_secondario);
    border-radius: 10px;
    width: 100%; 
    max-width: 900px; 
    height: auto;
}

.categori{
    margin-top: 70px;
    width: 700px;
}

.border {
        border: 2px solid #000;
        border-radius: 20px;
        padding: 10px
}

.btn{
    background-color: var(--colore_secondario) !important;
    color: var(--colore_primario) !important;
    border: #1d1d1b;
}

.btn2{
    background-color: var(--colore_primario) !important;
    color: var(--colore_secondario) !important;
}

.btn-dimension{
    background-color: var(--colore_secondario) !important;
    color: var(--colore_primario) !important;
    height: 70px;
    width: 75%;
}

.btn-revisor{
    border: 1px solid var(--colore_primario);
    border-radius: 5px;
}

.bottone:hover {
    background-color: var(--colore_primario) !important;
    color: var(--colore_secondario) !important;
    transition: background-color 0.3s ease;
}

/* counter per revisore  */
.counter{
    height: 30px;
    width: 30px;
    margin-right: -5%;
    margin-top: -8%;
    border-radius: 50%;
    color: var(--colore_secondario);
    background-color: var(--colore_primario);
}

/* pagina annunci per categoria */
.margin-header{
    margin-top: 80px;
    background-color: var(--colore_secondario) !important;
}

/* mediaquery tablet */
@media only screen and (max-width: 768px) {
    .navbar-nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-top: 10px;
    }

    .navbar-nav .nav-link {
        text-align: center;
        width: 100%;
    }

    .dropdown-menu {
        text-align: center;
    }
}

/* mediaquery smartphone */
@media only screen and (max-width: 480px) {
    .registlogin, .registlogin2, .registlogin3 {
        width: 80%; 
        margin-left: auto;
        margin-right: auto;
    }
}

footer {
    border-top: none;
  }
  
  /* Media query per footer */
  @media only screen and (max-width: 768px) {
    footer {
      flex-direction: column; 
      text-align: center; 
    }
  
    .nav {
      margin-top: 10px; 
    }

    
  }

