:root{  
    --colore_primario: #1d1d1b ;
    --colore_secondario: #ffed00 ;  
    --colore_terziario: #ffffff; 
}

*{
    font-family: "Habibi", serif;
    font-weight: 400;
    font-style: normal;
}

.font-title {
    font-family: "Capriola", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.nav-custom{
    background-color: var(--colore_secondario) !important;
}

.navbar-nav .nav-link:hover {
    background-color: var(--colore_primario) !important;
    color: var(--colore_secondario) !important;
    border-radius: 5px;
}

.logo{
    height: 40px;
}

.nav-top{
    margin-top: 65px;
}

/* bordo sezione accedi,registrati,inserisci il tuo annuncio */
.registlogin, .registlogin2, .registlogin3 {
    margin-top: 90px;
    padding: 20px;
    border: 2px solid var(--colore_secondario);
    border-radius: 10px;
    width: 100%; 
    max-width: 900px; 
    height: auto;
}

.btn{
    background-color: var(--colore_secondario) !important;
    color: var(--colore_primario) !important;
    border: #1d1d1b;
}

/* mediaquery tablet */
@media only screen and (max-width: 768px) {
    .registlogin, .registlogin2, .registlogin3 {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
}

/* mediaquery smartphone */
@media only screen and (max-width: 480px) {
    .registlogin, .registlogin2, .registlogin3 {
        width: 80%; 
        margin-left: auto;
        margin-right: auto;
    }
}

